* {
    box-sizing: border-box;
  }
  
  html {
    font-size: 62.5%;
    height: 100vh;
  }

  body {
    height: 100vh;
  }

  a {
      font-size: 1.7rem;
  }

  .ui, .ui.menu {
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
  }